name = "nebulachat-backend"
main = "worker.js"
compatibility_date = "2024-01-01"

# Durable Objects
[[durable_objects.bindings]]
name = "ROOM"
class_name = "Room"
script_name = "nebulachat-backend"

# Migrations for Durable Objects
[[migrations]]
tag = "v1"
new_classes = ["Room"]
